paper/ecir25-corpus-subsampling-frame.aux
paper/ecir25-corpus-subsampling-frame.log
paper/ecir25-corpus-subsampling-frame.pdf
paper/ecir25-corpus-subsampling-frame.bbl
paper/ecir25-corpus-subsampling-frame.blg
__pycache__
